
.danhmuc {
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -ms-overflow-style: none !important;
}

.danhmuc .full_image {
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px !important;
}

.danhmuc .welcome {
    text-align: center !important;
}