.icon {
    background: red;
    border-radius: 50%;
    margin-right: 10px;
}

.button {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    text-transform: none !important;
    background-color: darkgray !important;
    --background: darkgray !important;
}

