.header_toolbar {
    background-color: white !important;
    color: #036bfc !important;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffreepng%2Flaptop-logo-template-design--laptop-logo-with-modern-frame_4238381.html&psig=AOvVaw0ctt8QLZcyyLpgX95sRAs6&ust=1591588440174000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMi71I7n7ukCFQAAAAAdAAAAABAD') !important;
}