.chitiet .title {
    color: #000000 !important;
    margin: 10px !important;
    text-align: center !important;
}

.chitiet .laptop .name {
    color: #000000 !important;
}

.chitiet .ortherproduct {
    color: #ffffff;
    background-color: #adadad;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}