.chitietdonhang .row_title {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: gray;
    font-weight: bold;
}

.chitietdonhang .label {
    color: royalblue !important;
    margin: 5px;
    padding: 5px;
    width: 30%;
}

.chitietdonhang .input {
    color: #000000 !important;
    border: solid papayawhip 1px !important;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.chitietdonhang .cancle .huy {
    color:red !important;
    font-size: 16px;
}

.chitietdonhang .cancle .status {
    padding-top: 15px;
    color: #41a8b5;
    font-weight: bold;
    vertical-align: middle;
}

.chitietdonhang .totalprice {
    color: darkred;
    font-weight: bold;
}

.header .title {
    color: #000000 !important;
}
