.content {
    margin: 5px;
}

.profile_picture {
    position: relative;
    color: #ffffff;
    width: 60px;
    height: 80px;
    margin: 5px;
}

.login_label {
    color: royalblue !important;
    font-size: 16px;
}

.login_signup {
    max-height: 80px !important;
}

.login_signup:hover{
    cursor: pointer;
}

.static  {
    margin: 5px;
}

.icon_close {
    margin: 5px;
    size: 20px;
}

.content .label {
    color: royalblue !important;
    margin: 5px;
    padding: 5px;
}

.content .input {
    width: 90% !important;
    border: solid papayawhip 1px !important;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.content .eye {
    position: absolute;
    right: 5px;
}

.signup_button, .login_button, .logout_button, .xacnhan_button {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    color: white;
    --background: red !important;
}

.quen_title {
    text-align: center;
    margin: 10px;
}