.content {
    margin: 5px;
}

.profile_picture {
    position: relative;
    color: #ffffff;
    width: 60px;
    height: 80px;
    margin: 5px;
}

.login_label {
    color: royalblue !important;
    font-size: 16px;
}

.login_signup {
    max-height: 80px !important;
}

.login_signup:hover{
    cursor: pointer;
}

.static  {
    margin: 5px;
}

.icon_close {
    margin: 5px;
    size: 20px;
}

.input {
    width: 100%;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
}

.signup_button, .login_button, .logout_button, .xacnhan_button {
    border-radius: 4px !important;
    margin: 5px !important;
    background-color: red !important;
    --background: red !important;
    color: white;
    width: 100%;
}

.quen_title {
    text-align: center;
    margin: 10px;
}