.content {
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -ms-overflow-style: none !important;
}

.content::-webkit-scrollbar {
    display: none;
}

.block_title {
    color: gray;
    margin: 5px 0px;
}