.trangchu {
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -ms-overflow-style: none !important;
}

.trangchu::-webkit-scrollbar {
    display: none;
}
.trangchu .block_title {
    background-color:#adadad;
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.trangchu .full_image {
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px !important;
}

.trangchu .welcome {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center !important;
}