.content {
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -ms-overflow-style: none !important;
}

.content::-webkit-scrollbar {
    display: none;
}

.content .title {
    color: #000000 !important;
    margin: 5px;
    color: darkred;
}

.content .laptop .name {
    color: #000000 !important;
}