.header {
    background-color: royalblue;
}

.back {
    margin: 10px;
}

.title {
    text-align: center !important;
    color: white;
    background-color: transparent;
}
.thongtincanhan .label {
    color: royalblue !important;
    margin: 5px;
    padding: 5px;
}

.thongtincanhan .input {
    width: 90% !important;
    border: solid papayawhip 1px !important;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.thongtincanhan .gender_group {
    margin: 5px;
}

.thongtincanhan .gender {
    margin-left: 5px;
    margin-right: 15px;
    font-size: 16px;
    vertical-align: text-top;
}

.thongtincanhan  .save_button {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    color: white;
    --background: red !important;
}