.trangchu .laptops {
    margin: 0px !important;
    width: 100%;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    display: inline-flex !important;
    -ms-overflow-style: none;
}

.trangchu .laptops::-webkit-scrollbar {
    display: none;
}

.trangchu .laptops .laptop {
    margin: 0px !important;
    display: inline-block !important;
    vertical-align: top !important;
    min-width: 180px !important;
    height: 220px !important;
}

.trangchu .laptops .laptop .name {
    color: #000000;
}

.trangchu .laptops .laptop .product_image {
    height: 150px !important;
}

.trangchu .laptops .laptop .price {
    margin-left: 10px !important;
    text-align: center !important;
    color: darkred;
    font-size: 16px;
    font-weight: bold;
}

.trangchu .laptops .laptop .discount_price {
    margin-left: 10px;
    width: 100% !important;
    text-align: center !important;
    text-decoration: line-through;
}

.trangchu .laptops .laptop .ratingIcon {
    font-size: 16px;
    margin-right: 3px;
}