.chitiet .product_image {
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
    width: auto;
    object-fit: fill !important;
}

.chitiet .product_name {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
}

.chitiet .current_price {
    margin-top: 5px;
    margin-left: 10px;
    color: red !important;
    font-size: 18px;
    font-weight: bold;
}

.chitiet .unit_price {
    margin-top: 5px !important;
    margin-left: 10px !important;
    text-decoration: line-through;
}

.chitiet .discount_price {
    margin-top: 5px !important;
    margin-left: 10px !important;
    font-style: italic;
}

.chitiet .label {
    color: black;
    text-align: left !important;
    vertical-align: middle !important;
}

.chitiet .promotion {
    margin: 5px !important;
    height: 60px !important;
}

.chitiet .image {
    height: 60px !important;
}

.chitiet .title {
    color: #000000 !important;
    font-size: 24px !important;
}